body{
    position: relative;
    
}


#bgvideo{
    position:fixed;
   min-height: 100%;
  width: 100%;
    z-index: -100;
}

#home{
    display: flex;
    justify-content: center;
}

#world{
    padding-top: 200px;
    font-size: 50px;
    font-family: 'Brush Script MT';
    color: brown;
}